@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
:root {

    --headlineBig: clamp(4rem, 6vw, 10rem);
    --headlineSmall: clamp(1rem, 1.2vw, 6rem);
  }